@charset "UTF-8";
/* ==========================================================================
   Component: Button
 ============================================================================ */
// 每个变量都有三个颜色值，分别为：文本色，背景色，边框色
$btnDft:                                $black $grayLight $grayLight !default;
$btnPrimary:                            $primaryColor !default;
$btnInfo:                               $infoColor !default;
$btnSuccess:                            $successColor !default;
$btnDanger:                             $dangerColor !default;
$btnWarning:                            $warningColor !default;
$buttonSubjects:                        ("-default":$btnDft,"-primary":$btnPrimary,"-info":$btnInfo,"-danger":$btnDanger,"-success":$btnSuccess,"-warning":$btnWarning) !default;
$buttonItems:                           ".active",":active",".focus",":focus",":hover",".hover" !default;

// 按钮颜色
.hf-link {
  cursor: pointer;
  color: $linkColor;
  &:hover,&:active {
    text-decoration: none;
    color: $linkColor;
  }
}
.hf-btn {
  border-radius: 0;
  font-size: .78rem;

  &-radius{
    border-radius: 6px;
  }
  &-sm{
    font-size: .74rem!important;
    padding:.2rem .8rem!important;
  }
}

@each $key,$value in $buttonSubjects {
  .hf-btn#{$key} {
    color: nth($value,1);
    background-color: nth($value,2);
    border: 1px solid nth($value,3);
    &.hf-link {
      color: nth($value,2);
      background-color:transparent;
      border:none;
    }
  }
  @each $item in $buttonItems {
    .hf-btn#{$key}#{$item} {
      color: $white;
      background-color: darken(nth($value,2),8%);
      border-color: darken(nth($value,3),8%);
      &.hf-link {
        color:darken(nth($value,2),8%);
        background-color:transparent;
        border:none;
      }
    }
  }
  .hf-btn-default:hover{
    color:$black;
  }
  .hf-btn.disabled,
  .hf-btn[disabled],
  fieldset[disabled] .hf-btn{
    color: lighten(nth($value,1),30%);
    background-color: lighten(nth($value,2),30%);
    border-color: lighten(nth($value,3),30%);
  }
}



.hf-panel-hd{
  .btn ,.hf-btn {
    padding: .3rem 1.5rem;
    font-size: .8rem;
  }
}